
@model InsuranceQuoteGenerator.Models.Insuree
@using System.Web.Mvc.Html;

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
} 



  @Html.BeginForm("Create", "Insuree", FormMethod.Post))




  @Html.AntiForgeryToken()


  <div id="InsureeCreatePageBodyContainer">

    <div id="InsureeCreateBackground">
      <img src="~/Content/Images/YellowLinesBlacktop.jpg" alt="Blacktop" />
      <div id="ColorOverlay">

        <div class="jumbotron">


          <div class="form-horizontal">
            <h4>Insuree</h4>
            <hr />



            @Html.ValidationSummary(true, "Completion Of All Fields Required", new { @class = "text-danger" })




            <div class="form-group">
              @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "Please Enter Your FirstName", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "Last Name Is Required.", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailAddress, "Ooops! You forgot to add Your email address.", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control date-picker" } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "Please Enter Birth Date.", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.CarYear, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.CarYear, new { htmlAttributes = new { @class = "form-control date-picker" } })
                @Html.ValidationMessageFor(model => model.CarYear, "Year Car was Built is Required ", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.CarMake, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.CarMake, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CarMake, "Required Field", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.CarModel, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.CarModel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CarModel, "Please Enter Vehicle Model", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.DUI, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                <div class="checkbox">
                  @Html.EditorFor(model => model.DUI)
                  @Html.ValidationMessageFor(model => model.DUI, "", new { @class = "text-danger" })
                </div>
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.SpeedingTickets, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.SpeedingTickets, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SpeedingTickets, "Do Not Leave Blank. If no speeding tickets enter [0]", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.CoverageType, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                <div class="checkbox">
                  @Html.EditorFor(model => model.CoverageType)
                  @Html.ValidationMessageFor(model => model.CoverageType, "", new { @class = "text-danger" })
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
              </div>

            </div>

            <div>
              @Html.ActionLink("Back to List", "Index")
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


}
}
}

//JQuery DatePicker script//
<script type="text/javascript">
  $(function () {
    $(".date-picker").datepicker({
      dateFormat: 'dd-M-yy'
    });

  });

</script>

