@model IEnumerable<InsuranceQuoteGenerator.Models.Insuree>
@{ 
    ViewBag.Titile = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Current List&lt;Insurees&gt; in Insurance.db</h2>
<p>
  @Html.ActionLink("Create New", "Create")
</p>
@*@using{ public IEnumerable<Insuree> GetAllModels()
         {
           InsuranceModelEntities db = new InsranceModelEntities.db;
           var models = new List<Insuree>();
            return Models;
         }*@
  <table class="table">

    <tr>
      <th>
        @Html.DisplayNameFor(model => model.InsureeId)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.FirstName)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.VehicleYear)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.VehicleMake)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.VehicleModel)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.DUI)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.SpeedingTickets)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.CoverageType)
      </th>
    </tr>)

    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.InsureeId)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.VehicleYear)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.VehicleMake)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.VehicleModel)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.DUI)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.SpeedingTickets)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.CoverageType)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.MonthlyQuoteRate)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.YearlyQuoteRate)
        </td>
        <td>
          @Html.ActionLink("Edit", "Edit", new { id = item.InsureeId }) |
          @Html.ActionLink("Details", "Details", new { id = item.InsureeId }) |
          @Html.ActionLink("Delete", "Delete", new { id = item.InsureeId })
        </td>
      </tr>
    }
  </table>
  }
