@using System.Collections.Generic
@model IEnumerable<InsuranceQuoteGenerator.Models.InsuranceEntities>
@using { var model = new List<Insuree>();
           

@{
  ViewBag.Title = "Current List Of Insurees in Database";
}
<h5>URL: /Insuree/Index/</h5>
<h2>Current List&lt;Insurees&gt; in Insurance.db</h2>



  <p>
    @Html.ActionLink("Create New", "Create")
  </p>

  <table class="table">

    <tr>
      <th>
        @Html.DisplayNameFor(model => model.InsureeId)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.FirstName)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.LastName)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.EmailAddress)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.DateOfBirth)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.VehicleYear)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.VehicleMake)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.VehicleModel)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.DUI)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.SpeedingTickets)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.CoverageType)
      </th>
    </tr>)
    <tr>
       
      @foreach (Insurees item in Model)
      
        <td>
          @Html.DisplayFor(modelItem => item.InsureeId)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.CarYear)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.CarMake)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.CarModel)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.DUI)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.SpeedingTickets)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.CoverageType)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.AutoQuoteId)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.MonthlyQuoteRate)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.YearlyQuoteRate)
        </td>
        <td>
          @Html.ActionLink("Edit", "Edit", new { id = item.InsureeId }) |
          @Html.ActionLink("Details", "Details", new { id = item.InsureeId }) |
          @Html.ActionLink("Delete", "Delete", new { id = item.InsureeId })
        </td>
    </tr>
  }  
  </table>
  
      }
