@*@model InsuranceQuoteGenerator.Models.NewInsureeFormData




  <h2>Complete Form To See Your Free Auto Insurance Quote:</h2>

  @using (Html.BeginForm("Create", "Insuree", FormMethod.Post))
  {

    <div class="form-group">
      @Html.LabelFor(m => m.FirstName)
      @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.LastName)
      @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.EmailAddress)
      @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.DateOfBirth)
      @Html.TextBoxFor(m => m.DateOfBirth, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.CarYear)
      @Html.TextBoxFor(m => m.CarYear, new { @class = "form-control" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.CarMake)
      @Html.TextBoxFor(m => m.CarMake, new { @class = "form-control" })
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.CarModel)
      @Html.TextBoxFor(m => m.CarModel, new { @class = "form-control" })
    </div>
    <div class="checkbox">
      <label>
        @Html.CheckBoxFor(m => m.DUI)Check Box If Ever Had A DUI.
      </label>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.SpeedingTickets)
      @Html.TextBoxFor(m => m.SpeedingTickets, new { @class = "form-control" })
    </div>
    <div class="checkbox">
      <label>
        @Html.CheckBoxFor(m => m.CoverageType)Check Box For Full Coverage.
      </label>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  }*@

@model InsuranceQuoteGenerator.Models.NewInsureeFormData
@using System.Web.Mvc.Html;

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>



@using (Html.BeginForm("Create", "Insuree", FormMethod.Post))
{



  @Html.AntiForgeryToken()


  <div id="InsureeCreatePageBodyContainer">

    <div id="InsureeCreateBackground">
      <img src="~/Content/Images/YellowLinesBlacktop.jpg" alt="Blacktop" />
      <div id="ColorOverlay">

        <div class="jumbotron">


          <div class="form-horizontal">
            <h4>Insuree</h4>
            <hr />



            @Html.ValidationSummary(true, "", new { @class = "text-danger" })




            <div class="form-group">
              @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.CarYear, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.CarYear, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CarYear, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.CarMake, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.CarMake, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CarMake, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.CarModel, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.CarModel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CarModel, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.DUI, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                <div class="checkbox">
                  @Html.EditorFor(model => model.DUI)
                  @Html.ValidationMessageFor(model => model.DUI, "", new { @class = "text-danger" })
                </div>
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.SpeedingTickets, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.SpeedingTickets, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SpeedingTickets, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.CoverageType, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                <div class="checkbox">
                  @Html.EditorFor(model => model.CoverageType)
                  @Html.ValidationMessageFor(model => model.CoverageType, "", new { @class = "text-danger" })
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
              </div>

            </div>

            <div>
              @Html.ActionLink("Back to List", "Index")
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

}




