@using InsuranceQuoteGenerator.Models
@model InsuranceQuoteGenerator.Models.Insuree

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Successful Submission</title>
</head>
<body>


    <div>
      <h2>Submission Successful :</h2><br/><br/>

     <ul>New Insuree:
     @{ 
          var data = ViewBag.Message;
      }
      <li>Insuree Id: @data.InsureeId</li>
      <li>First Name: @data.FirstName </li>
      <li>LastName: @data.LastName</li>
      <li>Email Address: @data.EmailAddress</li>
    </ul>
   </div>
  <div>
    @Html.ActionLink("Calculate Quote", "Index","AutoQuote",null, new { @class = "btn btn-success", data.InsureeId })
    </div>
  }
</body>
</html>
